/*font-family: 'Source Sans Pro', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;/* der bey oy vea ob chob*/
}
hr{
    height: 2px;
}

html{
 font-size: 62.5%;
 font-family: 'Source Sans Pro', sans-serif;
 background-color:#f5f0ea ;
}

a{
    text-decoration: none;/*der bey kpob oy mean rule nv krom text*/
    font-size: 1.5rem;
    color: black;
}

section{
    width: 80%;
    margin: auto;
}
/*1*/
.header-nav{
   
    display: flex;
    align-items: center;/*der bey oy vea smer knea */
    justify-content: space-between;/*der bey oy vea nhek content to kang smer knea */
    height: 10vh;/* mean ney tha vea = 10% of fullscream */
    max-height: 10vh;
    min-height: 10vh;
}
#logo{
  flex: 1;/* for tea logo */
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
  font-size: 2.5rem;
  color: white;
}

.header-nav ul{
    flex: 0.5;/* for tea ul */
    display: flex;/* dak oy vea smer knea */
    justify-content: space-between;
    font-family: 'Khmer', cursive;
}
.header-nav ul li{
list-style: none;/* der bey lob ... ng chenh */

}
.header-nav ul li a{
    font-weight: bold;/* oy a"sor det cheng mun */
    color: white;
}
#home-img{
 position: absolute;/* der bey oy yng ach yok vea teanh dak ban krob place */
 top: 0;
 left: 0;
 height: 100vh;
 width: 100%;
 /* yng bat a'sos os hxx der bey ban a'so mk vinh yng brer z-index */
 z-index: -1;/*mean ney tha oy backg.. tv krom a'so vinh */

}
.home-nav{
    display: flex;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}
.home-right img{
    height: 35rem;
    width: 40rem;
    border-radius: 1rem;
}
.home-left{
width: 50%;
font-family: 'Khmer', cursive;
}
.home-left h2{
    color: white;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-family: 'Khmer', cursive;
}
.home-left h3{
    font-size: 2.5rem;
    color: white;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
}

.home-left p{
    color: white;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-left button{
    color: white;
    background-color: red;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem;

}
.home-left button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;/* b'nlay mong tich */

}
/*................................... body ............ */

.body-nav{
    display: flex;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}
.body-right img{
    height: 35rem;
    width: 45rem;
    border-radius: 1rem;
}
.body-right button{
    display: none;
}
.body-left{
width: 50%;
}
.body-left h2{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
}
.body-left h3{
    font-size: 4rem;
    color: black;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Cabin', sans-serif;/*..*/
    margin-top: 2rem;
}

.body-left p{
    color: grey;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.body-left button{
    color: white;
    background-color: #f79918;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem;

}
.body-left button:hover{
    background-color: white;
    color:  #f79918;
    transition: 0.3s;/* b'nlay mong tich */

}
#tittle-session{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
    text-align: center;
}
#sub-tittle-section{
    font-size: 2rem;
    color: black;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    text-align: center;
}
/*........................................... */
.semons{
margin-top: 2rem;
display: flex;
justify-content: space-between;
}
.card-semons{
width: 20%;
height: 30rem;
}
.card-semons img{
height: 13rem;
width: 23rem;
border-radius: 0.5rem;
}
.card-semons p{
    color: gray;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;/*..*/
}
.card-semons h4{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Cabin', sans-serif;/*..*/
    letter-spacing: 2px;
    margin-top: 1rem;
    font-weight: bold;
}
.card-semons button{
    color: white;
    background-color: #f79918;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 1.5rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem;
}
.card-semons button:hover{
    background-color: white;
    color:  #f79918;
    transition: 0.3s;/* b'nlay mong tich */
}

#background-color{
background-color: #10495c;
padding: 5rem 0rem;
margin-top: 20rem;
height: 1500px;

}

.whyus img{
width: 50rem;
height: 35rem;  
margin-top:3rem;
}
.whyus h2{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
}
.whyus{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyus h3{
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Khmer', cursive;
    margin-top: 2rem; 
}
.whyus-left{
    width: 50%;
}
.whyus-right{
    width: 45%;
}
.whyus-right p{
color: white;
font-size: 2rem;
font-weight: 500;
font-family: 'Cabin', sans-serif;/*..*/

}

.right-flex{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    
}
.right-flex h2{
 color: white;
}
.right-flex h4{
    color: white;
    font-size: 1.2rem;
    margin-top: 1.5rem;

}
.text-card{
    margin-top: 4rem;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
}

.whyus-right button{
    color: white;
    background-color: #f79918;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem;

}
.whyus-right button:hover{
    background-color: white;
    color:  #f79918;
    transition: 0.3s;/* b'nlay mong tich */

}
.whyus button{
    margin-top: 10rem;
}
.contain{
    margin-top: 25rem;
    height: 80%;
  
}
.church{
    background-color: white;
    width: 90%;
    margin: auto;
    height: 700px;
    padding: 0rem 6rem;
    
}
.church h3{
    font-size: 2.5rem;
    color: black;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    text-align: center;
    
}
.church h2{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 6rem;
   
}

.churchs{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    }
    .card-churchs{
    width: 25%;
    height: 30rem;
    text-align: center;
    }
    .card-churchs img{
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    text-align: center;
    }
    .card-churchs p{
        color: gray;
        letter-spacing: 2px;/*KOM LEAT A'SO */ 
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .card-churchs h4{
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Cabin', sans-serif;/*..*/
        letter-spacing: 2px;
        margin-top: 1rem;
        font-weight: bold;
    }
    .card-churchs button{
        color: white;
        background-color: #f79918;
        border: none;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
        font-family: 'Khmer', cursive;
        margin-top: 1.5rem;
        cursor: pointer;/* sanh nha jong ol dai */
        font-size: 1.1rem;
    }
    .card-churchs button:hover{
        background-color: white;
        color:  #f79918;
        transition: 0.3s;/* b'nlay mong tich */
    }
    .background-color{  
        background-color: #10495c;
        margin-top: 30rem;
        z-index: -1;
        height: 30vh;
        
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        
    }
    .banner{
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
       
        
    }
    .banner h3{
        
        color: white;
        font-size: 1.5rem;
        font-family: 'Cabin', sans-serif;
    }
    .banner p{

        color: white;
        font-size: 1.2rem;
        font-family: 'Cabin', sans-serif;
    }
    
   
    button{
       
        color: white;
        background-color: #f79918;
        border: none;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
        font-family: 'Cabin', sans-serif;
        margin-top: 2rem;
        cursor: pointer;/* sanh nha jong ol dai */
        font-size: 1.1rem;
    
    }
    
    #footer{
        display: none;
    }

/*.................................................................... Responsive ...........................................................*/

@media only screen and (max-width: 600px) {
.header-nav ul{
        display: none;
    }
.header-nav{
        width: 100%;
        display: flex;
        align-items: center;/*der bey oy vea smer knea */
        justify-content: space-between;/*der bey oy vea nhek content to kang smer knea */
        height: 10vh;/* mean ney tha vea = 10% of fullscream */
       
    } 
.home-right img{
        display: none;
      }    
#home-img{
        position: absolute;/* der bey oy yng ach yok vea teanh dak ban krob place */
        top: 0;
        left: 0;
        height: 100vh;
        width: auto;
        /* yng bat a'sos os hxx der bey ban a'so mk vinh yng brer z-index */
        z-index: -1;/*mean ney tha oy backg.. tv krom a'so vinh */
       
}

.home-left{
width: 100%;
font-family: 'Khmer', cursive;
padding-bottom: 150px;
}
.home-left button{
    width: 127px;
    display: block;
    color: white;
    background-color: red;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem; 
    
}
/*........................................................................................................responsive header .. */

.body-nav{
    display: block;
    height: 90vh;
    padding-top: 50px;
    width: 100%;
}
.body-right img{
    padding-top: 10px;
    height: 23rem;
    width: 30rem;
    border-radius: 2rem;
}
.body-right{
 width: 30%;
}

.body-right button{
    width: 127px;
    display: block;
    color: white;
    background-color: #f79918;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem;

}
.body-right button:hover{
    background-color: white;
    color:  #f79918;
    transition: 0.3s;/* b'nlay mong tich */

}
.body-left{
width: 70%;
}
.body-left h2{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
    width: 600px;
}
.body-left h3{
    font-size: 4rem;
    color: black;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Cabin', sans-serif;/*..*/
    margin-top: 2rem;
}

.body-left p{
    color: grey;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 366px;
}

.body-left button{
    display: none;
}
.body-left button:hover{
    background-color: white;
    color:  #f79918;
    transition: 0.3s;/* b'nlay mong tich */

}

/*................................សរសេរកូដ រៀងរាល់ថ្ងៃ .......................*/
.semons{
    margin-top: 2rem;
    display: block;
    width: 600px;
    }
    .card-semons{
   
    width: 600px;
    height: 30rem;
    margin: 87px 0;
    
    }
    .card-semons img{
    margin-left: 89px;
    height: 10rem;
    width: 13rem;
    border-radius: 1rem;
    
    }
    .card-semons p{
        color: gray;
        letter-spacing: 2px;/*KOM LEAT A'SO */ 
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Cabin', sans-serif;/*..*/
        width: 330px;
    }
    .card-semons h4{
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Cabin', sans-serif;/*..*/
        letter-spacing: 2px;
        margin-top: 1rem;
        font-weight: bold;
    }
    .card-semons button{
        color: white;
        background-color: #f79918;
        border: none;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
        font-family: 'Khmer', cursive;
        margin-top: 1.5rem;
        cursor: pointer;/* sanh nha jong ol dai */
        font-size: 1rem;
    }
    .card-semons button:hover{
        background-color: white;
        color:  #f79918;
        transition: 0.3s;/* b'nlay mong tich */
    }

    /*--------------------------------------background color------------------------*/
    
    .whyus img{
        width: 200px;
        height: 200px;  
        margin-top:3rem;
        }
        .whyus h2{
            color: #f79918;
            letter-spacing: 2px;/*KOM LEAT A'SO */ 
            font-weight: bold;
            font-family: 'Khmer', cursive;
            font-size: 1.2rem;
        }
        .whyus{
         display: block;
         width: 600px;
        }
        .whyus h3{
            font-size: 1.5rem;
            color: white;
            letter-spacing: 2px;/*KOM LEAT A'SO */ 
            font-weight: bold;/*..*/
            font-family: 'Khmer', cursive;
            margin-top: 2rem; 
        }
        .whyus-left{
            width: 50%;
        }
        .whyus-right{
            width: 45;
        }
        .whyus-right p{
            font-size: 1.5rem;
            color: white;
            letter-spacing: 2px;/*KOM LEAT A'SO */ 
            font-weight: bold;/*..*/
            font-family: 'Khmer', cursive;
            margin-top: 2rem; 
        
        }
        
        .right-flex{
            display: block;
            margin-top: 2rem;
            
           
            
        }
        
        .right-flex h2{
         color: white;
        }
        .right-flex h4{
            color: white;
            font-size: 1.2rem;
            margin-top: 1.5rem;
        
        }
        .text-card{
            margin-top: 4rem;
            font-family: 'Khmer', cursive;
            font-size: 1.5rem;
            
        }
        .text-card h4{
            width: 390px;
        }
        
        .whyus-right button{
            color: white;
            background-color: #f79918;
            border: none;
            padding: 1.5rem 3rem;
            border-radius: 2rem;
            font-family: 'Khmer', cursive;
            margin-top: 2rem;
            cursor: pointer;/* sanh nha jong ol dai */
            font-size: 1rem;
        
        }
        .whyus-right button:hover{
            background-color: white;
            color:  #f79918;
            transition: 0.3s;/* b'nlay mong tich */
        
        }
        .whyus button{
            margin-top: 10rem;
        }


        /*------------------------អរគុណអ្នក សម្រាប់ការទស្សនា--------------------*/


        .contain{
    margin-top: 25rem;
    height: 70%;
  
}
.church{
    background-color: white;
    width: 90%;
    margin: auto;
    height: 600px;
    padding: 0rem 6rem;
    
}
.church h3{
    font-size: 2rem;
    color: black;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;/*..*/
    font-family: 'Khmer', cursive;
    margin-top: 2rem;
    text-align: center;
    
}
.church h2{
    color: #f79918;
    letter-spacing: 2px;/*KOM LEAT A'SO */ 
    font-weight: bold;
    font-family: 'Khmer', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 6rem;
   
}

.churchs{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    }
    .card-churchs{
    width: 25%;
    height: 30rem;
    text-align: center;
    }
    .card-churchs img{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
    }
    .card-churchs p{
        color: gray;
        letter-spacing: 2px;/*KOM LEAT A'SO */ 
        margin-top: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .card-churchs h4{
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Cabin', sans-serif;/*..*/
        letter-spacing: 2px;
        margin-top: 1rem;
        font-weight: bold;
    }
    .card-churchs button{
        color: white;
        background-color: #f79918;
        border: none;
        padding: 1rem 1rem;
        border-radius: 2rem;
        font-family: 'Khmer', cursive;
        margin-top: 1rem;
        cursor: pointer;/* sanh nha jong ol dai */
        font-size: 0.8rem;
    }
    .card-churchs button:hover{
        background-color: white;
        color:  #f79918;
        transition: 0.3s;/* b'nlay mong tich */
    }

    /*--------------------------footer-----------------------------*/

    .background-color{  
        background-color: #10495c;
        margin-top: -210px;
        z-index: -1;
        height: 50vh;
        
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        
    }
    .banner{
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
       
        
    }
    .banner h3{
        
        color: white;
        font-size: 1.5rem;
        font-family: 'Cabin', sans-serif;
    }
    .banner p{

        color: white;
        font-size: 1.2rem;
        font-family: 'Cabin', sans-serif;
    }
    #footer{
        display: block;
        color: white;
        border: none;
        padding: 1rem 1rem;
        border-radius: 2rem;
        font-family: 'Khmer', cursive;
        margin-top: 1rem;
        cursor: pointer;/* sanh nha jong ol dai */
        font-size: 1rem; 
        margin-left: 15px;
    }
   #footer-foo{
    color: white;
    border: none;
    border-radius: 2rem;
    font-family: 'Khmer', cursive;
    margin-top: 1rem;
    cursor: pointer;/* sanh nha jong ol dai */
    font-size: 1rem; 
    margin-left: 140px;
   }
   
}